html {
    scroll-behavior: smooth;
}

* ,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, button, .logo {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background-color: #1a1a1a;
    border-bottom: 1px solid #2a2a2a;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #6c63ff;
}

.nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #a0a0a0;
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0.4rem 1rem;
    border-radius: 999px;
    transition: all 0.2s ease-in-out;
    
}

.nav-list li a:hover {
    background-color: #6c63ff;
    color: #ffffff;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section#beranda {
    padding: 5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.beranda-contents {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.beranda-description {
    flex: 1;
    max-width: 500px;
}

.beranda-description h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#role {
    color: #6c63ff;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5px;
}

.cerita {
    font-size: 1.5rem;
}

.cerita {
    color: #ffffff;
}

.beranda-contents button {
    color: #ffffff;
    font-size: 18px;
    border-radius: 999px;
    padding: 3px;
    font-family: sans-serif;
    width: 150px;
    height: 50px;
    cursor: pointer;
    gap: 20px;
}

.btn-conten {
    display: flex;
    gap: 25px;
}

.btn-tentang {
    background-color: #6c63ff;
    border: none;
    transition: transform 0.1s ease;
}

.btn-tentang a {
    text-decoration: none;
    color: #ffffff;
}

.btn-contact {
    background-color: #0f0f0f;
    border: 2px solid #6c63ff;
    transition: transform 0.1s ease;
}

.btn-contact a {
    text-decoration: none;
    color: #6c63ff;
}

.btn-tentang:hover {
    transform: translateY(-6px);
}

.btn-contact:hover {
    transform: translateY(-6px);
}

.beranda-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #6c63ff;
    
}

section#tentang {
    padding: 5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tentang-content {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: #1a1a1a; 
    padding: 2rem;              
    border-radius: 20px;
}

aside {
    
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
    width: auto;
}

aside img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
    border: 4px solid #6c63ff;
}

aside h2 {
    color: #ffffff;
    font-size: 25px;
}

aside p {
    color: #a0a0a0;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    max-width: 450px;
}

article {
    max-width: 600px;
}

article h2 {
    color: #6c63ff;
    font-size: 40px;
    
}

article p {
    color: #a0a0a0;
    font-size: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    line-height: 0;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    
}

@media (max-width: 768px) {

    .navbar-container {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    section#beranda {
        padding: 2rem;
    }

    .beranda-contents {
        flex-direction: column-reverse;
        text-align: center;
    }

    .beranda-description {
        max-width: 100%;
    }

    .beranda-img img {
        width: 250px;
        height: 250px;
    }

    section#tentang {
        padding: 2rem;
    }

    .tentang-content {
        flex-direction: column;
        text-align: center;
    }

    aside img {
        width: 200px;
        height: 200px;
    }

    article {
        max-width: 100%;
    }
}